<a href="{{ root_url }}/">Welkom</a><br />  
<a href="{{ root_url }}/wie-ben-ik.html">Wie ben ik ?</a><br />  
<a href="{{ root_url }}/contact.html">Contact</a><br />
<br />
BLIJF OP DE HOOGTE<br />  
<!-- Begin MailChimp Signup Form -->
<form action="http://eddypresent.us4.list-manage1.com/subscribe/post?u=0266a9f6056f66cb9738f4205&amp;id=58ff0b2f9f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
e-mailadres :<br />
<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"><br />
<input type="submit" value="Inschrijven" name="subscribe" id="mc-embedded-subscribe" class="button">
</form>
<!--End mc_embed_signup--><br />

<br />
<b>TAIJIQUAN</b><br />  
<a href="{{ root_url }}/taijiquan/wat-is-taijiquan.html">Wat is TaiJiQuan ?</a><br />   
<a href="{{ root_url }}/taijiquan/dao.html">Dao</a><br />   
<a href="{{ root_url }}/taijiquan/vorm.html">De Vorm</a><br />   
<a href="{{ root_url }}/taijiquan/weeklessen.html">Week lessen</a><br />   
<a href="{{ root_url }}/taijiquan/vorm-weekends.html">Vorm weekends</a><br />   
<a href="{{ root_url }}/taijiquan/meditatie.html">Meditatie namiddagen</a><br />   
<a href="{{ root_url }}/taijiquan/stages-affligem.html">Stages Affligem</a><br />   
<a href="{{ root_url }}/taijiquan/stages-zuid-frankrijk.html">Stages Zuid-Frankrijk</a><br /> 
<a href="{{ root_url }}/taijiquan/stages-spanje.html">Stages Spanje</a><br /> 
<br />
<b>ZWAARDVORM</b><br />  
<a href="{{ root_url }}/zwaardvorm/weeklessen.html">Week lessen</a><br />  
<a href="{{ root_url }}/zwaardvorm/oefendagen.html">Oefendagen Zwaardvorm</a><br />  
<a href="{{ root_url }}/zwaardvorm/vorm.html">De Vorm</a><br />
<br />
<b>ANDERE</b><br />  
<a href="{{ root_url }}/andere/medewerkers.html">Medewerkers</a><br />  
<a href="{{ root_url }}/andere/literatuur.html">Literatuur</a><br />  
<a href="{{ root_url }}/andere/links.html">Links</a><br />

<br />
<a href="{{ root_url }}/over-deze-site.html">Over deze site</a><br />