<a href="{{ root_url }}/">Welkom</a><br />  
<a href="{{ root_url }}/wie-ben-ik.html">Wie ben ik ?</a><br />  
<a href="{{ root_url }}/contact.html">Contact</a><br /> 
<br />  
<h3>BLIJF OP DE HOOGTE</h3>  
<!-- Begin MailChimp Signup Form -->
<form action="http://eddypresent.us4.list-manage1.com/subscribe/post?u=0266a9f6056f66cb9738f4205&amp;id=58ff0b2f9f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
e-mailadres :<br />
<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"><br />
<input type="submit" value="Inschrijven" name="subscribe" id="mc-embedded-subscribe" class="button">
</form>
<!--End mc_embed_signup-->
<br />
<a href="{{ root_url }}/taijiquan/natuur-bewustzijn.html">De natuur van bewustzijn</a><br />  
<a href="{{ root_url }}/taijiquan/meditatie.html">Meditatie namiddagen</a><br />   
<br />  
<h3>TAIJIQUAN</h3>
<a href="{{ root_url }}/taijiquan/weeklessen.html">Week lessen</a><br /> 
<a href="{{ root_url }}/taijiquan/vorm.html">De Vorm</a><br />   
<br /> 
<a href="{{ root_url }}/taijiquan/stages-hoepertingen.html">Stages Hoepertingen</a><br />
<a href="{{ root_url }}/taijiquan/stages-zuid-frankrijk.html">Stages Zuid-Frankrijk</a><br />
<br />
<a href="{{ root_url }}/taijiquan/wat-is-taijiquan.html">Wat is TaiJiQuan ?</a><br />   
<a href="{{ root_url }}/taijiquan/dao.html">Dao</a><br />   
<br />  
<h3>ZWAARDVORM</h3>
<a href="{{ root_url }}/zwaardvorm/weeklessen.html">Week lessen</a><br />  
<a href="{{ root_url }}/zwaardvorm/vorm.html">De Vorm</a><br />
<br />
<h3>ANDERE</h3>
<a href="{{ root_url }}/andere/medewerkers.html">Medewerkers</a><br />  
<a href="{{ root_url }}/andere/literatuur.html">Literatuur</a><br />  
<a href="{{ root_url }}/andere/links.html">Links</a><br />